body {
    padding: 50px 50% 0;
    margin: 0;
    background: black;
    overflow-x: hidden;
}

/* Carousel contents */
.carouselContents {
    width: 100vw;
    height: 300px;
    background: linear-gradient(45deg, dodgerblue, indigo);
    transform: translateX(-50%);
}

/*Container*/
.container {
    width: 150px;
    height: 215px;
    /* border: 1px solid red; */
    position: relative;
    margin: 0 auto;
    perspective: 1000px;
}

/*Carousel*/
.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel div {
    transform-style: preserve-3d;
}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 150px;
    height: 215px;
    /* line-height: 200px;
    font-size: 5em;
    text-align: center; 
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;*/
    transition: transform 1s;
}

/* .a {
    transform: rotateY(0deg) translateZ(150px);
}

.a .item {
    background: rgba(94, 17, 17, 0.514);
}

.b {
    transform: rotateY(120deg) translateZ(150px) rotateY(-120deg);
}

.b .item {
    background: rgba(17, 83, 94, 0.514);
}

.c {
    transform: rotateY(240deg) translateZ(150px) rotateY(-240deg);
}

.c .item {
    background: rgba(50, 17, 94, 0.514);
} */

label{
    position: relative;
    /* text-align: center; */
    left: 40%;
    top: 20%;
}

/* Main content */
.main {
    width: 500px;
    height: 500px;
    border-radius: 2%;
    background: linear-gradient(to right, rgb(60 59 70), rgb(37 37 42));

}

/* content classes */
.content1 {
    width: 275px;
    height: 150px;
    border-radius: 3%;
    background: rgb(33 33 39);
    transform: translateX(-175px) translateY(25px);
    box-shadow: 4px 1px 20px 4px black;


}



.content2 {
    width: 275px;
    height: 150px;
    border-radius: 3%;
    background: rgb(33 33 39);
    transform: translateX(-100px) translateY(75px);
    box-shadow: 4px 1px 20px 4px;

}



.content3 {
    width: 275px;
    height: 150px;
    border-radius: 3%;
    background: rgb(33 33 39);
    transform: translateX(-200px) translateY(125px);
    box-shadow: 4px 1px 20px 4px;

}



/* Footer */
.footer {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(170deg, black, rgb(33 33 39));
    position: relative;
    /* left: 179%; */
    transform: translateX(-50%);
    z-index: -1;
}


/* Plane */

.plane1 {
    width: 500px;
    height: 428px;
    background: rgb(33 33 39);
    transform: translate(158%, 78%) skew(0deg, 28deg);
}

.plane2 {
    width: 500px;
    height: 428px;
    background: rgb(221, 221, 233);
    transform: translate(158%, 78%) skew(0deg, 28deg);
}